@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Bebas+Neue&family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Anonymous Pro", monospace, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply text-main-dark;
  @apply bg-main-white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

a,
li {
  font-family: "Permanent Marker", cursive, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  font-weight: 500;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

.animation {
  transition-duration: 400ms;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  cursor: default;
  user-select: none;
}
.animation-small-from-top-inactive {
  transform: translate3d(0, -1.5rem, 0);
  opacity: 0;
}
.animation-stack-inactive {
  transform: translate3d(0, -1.5rem, 0);
  opacity: 0;
}
.animation-from-top-100-inactive {
  transform: translate3d(0, -100%, 0);
}
.animation-from-right-100-inactive {
  transform: translate3d(100%, 0, 0);
}
.animation-from-down-100-inactive {
  transform: translate3d(0, 100%, 0);
}
.animation-from-left-100-inactive {
  transform: translate3d(-100%, 0, 0);
}

.bg-pic {
  background-image: url(assets/bg.svg);
}

.title {
  font-size: 50px;
  border: 10px solid;
  border-left: none;
  border-right: none;
  padding: 0.2rem 0.8rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fff;
    @apply text-main-white;
    @apply bg-main-dark;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .style-link-text {
    padding: 0.4rem;
    padding-left: 2.5rem;
    border-start-start-radius: 9999px;
    border: 2px solid;
  }
  .style-link-back {
    padding: 0.4rem;
    padding-left: 2.5rem;
    border: 2px solid;
    border-top: none;
    border-end-start-radius: 9999px;
  }
  .style-text {
    box-sizing: border-box;
    padding: 1rem;
    border: 2px solid;
  }

  .style-text-1 {
    background-color: theme(colors.p1-bg-1);
    border-color: theme(colors.p1-text);
  }
  .style-link-text-1,
  .style-link-back-1 {
    background-color: theme(colors.p1-bg-1);
    border-color: theme(colors.p1-text);
  }
  .style-text-2 {
    background-color: theme(colors.p2-link-back);
    border-color: theme(colors.p2-bg-3);
  }
  .style-link-text-2 {
    background-color: theme(colors.p2-bg-3);
    border-color: theme(colors.p2-title);
  }
  .style-link-back-2 {
    color: theme(colors.p2-bg-4);
    background-color: theme(colors.p2-bg-1);
    border-color: theme(colors.p2-title);
  }

  .style-link-text-3,
  .style-link-back-3 {
    border-color: theme(colors.p3-bg-4);
    background-color: theme(colors.p3-bg-2);
  }
  .style-text-3 {
    border-color: theme(colors.p3-title);
    background-color: theme(colors.p3-bg-2);
  }

  .style-link-back-4,
  .style-link-text-4 {
    background-color: theme(colors.p4-bg-1);
    border-color: theme(colors.p4-title);
  }
  .style-text-4 {
    background-color: theme(colors.p4-bg-3);
    border-color: theme(colors.p4-title);
    color: theme(colors.p4-title);
  }

  .style-text-5 {
    background-color: theme(colors.p5-bg-4);
    border-color: theme(colors.p5-stack);
  }
  .style-link-back-5,
  .style-link-text-5 {
    background-color: theme(colors.p5-bg-1);
    border-color: theme(colors.p5-stack);
  }
}

@media screen and (max-width: 320px) {
}
