@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Bebas+Neue&family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Anonymous Pro", monospace, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply text-main-dark;
  @apply bg-main-white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

a,
li {
  font-family: "Permanent Marker", cursive, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  font-weight: 500;
  @apply text-orange-dark;
  text-decoration: inherit;
}

a:hover {
  @apply text-main-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

.animation {
  transition-duration: 400ms;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  cursor: default;
  user-select: none;
}
.animation-small-from-top-inactive {
  transform: translate3d(0, -1.5rem, 0);
  opacity: 0;
}
.animation-stack-inactive {
  transform: translate3d(0, -1.5rem, 0);
  opacity: 0;
}
.animation-from-top-100-inactive {
  transform: translate3d(0, -100%, 0);
}
.animation-from-right-100-inactive {
  transform: translate3d(100%, 0, 0);
}
.animation-from-down-100-inactive {
  transform: translate3d(0, 100%, 0);
}
.animation-from-left-100-inactive {
  transform: translate3d(-100%, 0, 0);
}

.title {
  font-size: 6vw;
  line-height: 1.1;
  margin: 0 1rem;
  border: 0.7vw solid;
  border-left: none;
  border-right: none;
  padding: 0.2rem 0.8rem;
  width: min-content;
  height: min-content;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  @apply bg-main-black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  @apply border-orange-dark;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fff;
    @apply text-main-white;
    @apply bg-main-dark;
  }
  a:hover {
    @apply text-orange-dark;
  }
  button {
    @apply bg-main-dark;
  }
}

.style-text {
  font-size: 1.2vw;
}
.style-stack,
.style-link {
  font-size: 1.5vw;
}
.style-title-1 {
  @apply text-main-black;
  @apply border-main-black;
}
.style-stack-1 {
  @apply text-orange-dark;
}
.style-text-1 {
  @apply text-main-dark;
}
.style-link-text-1 {
  @apply text-main-dark;
}
.style-link-1 {
  @apply text-orange-dark;
}
.style-link-1:hover {
  @apply text-main-black;
}
.style-link-back-1 {
}

.style-title-2 {
  color: #cc1b28;
  border-color: #cc1b28;
}
.style-stack-2 {
  color: #35222f;
}
.style-text-2 {
  color: #35222f;
}
.style-link-text-2 {
  color: #91ffe9;
}
.style-link-2 {
  color: #35222f;
}
.style-link-2:hover {
  color: #cc1b28;
}
.style-link-back-2 {
  color: #91ffe9;
}
.style-link-back-2:hover {
  color: #cc1b28;
}

.style-title-3 {
  color: #35222f;
  border-color: #35222f;
}
.style-stack-3 {
  color: #cc1b28;
}
.style-text-3 {
  color: #35222f;
}
.style-link-text-3 {
  color: #35222f;
}
.style-link-3 {
  color: #4b8695;
}
.style-link-3:hover {
  color: #cc1b28;
}
.style-link-back-3 {
  color: #35222f;
}
.style-link-back-3:hover {
  color: #4b8695;
}

.style-title-4 {
  color: #410c12;
  border-color: #410c12;
}
.style-stack-4 {
  color: #6477a5;
}
.style-text-4 {
  color: #752e36;
}
.style-link-text-4 {
  color: #752e36;
}
.style-link-4 {
  color: #2e4272;
}
.style-link-4:hover {
  color: #6477a5;
}
.style-link-back-4 {
  color: #6477a5;
}
.style-link-back-4:hover {
  color: #2e4272;
}
